.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container .title{
    color: white;
    border-bottom: 1px solid white;
    position: absolute;
    top: 5%;
    left: auto;
}
.container .subtitle{
    color: white;
    position: absolute;
    top: 15%;
    left: auto;
}
.container .btn {   
    position: absolute;
    top: 74%;
    left: auto;
}

.wallpaperdesktop {
    width: auto;
    height: 100vh;
}
.wallpaperphone {
    width: auto;
    height: 100vh;
}


@media (max-width: 768px) {
    .wallpaperdesktop {
        display: none;
    }
    .container .btn  {
        top: 80%;
    }
}

@media (min-width: 768px) {
    .wallpaperphone {
        display: none;
    }
}
.btn {
    align-items: flex-end;
}