.body-container {
    display: flex;
    flex-direction: column;  
    margin-top: 80px;
}

.card .card-name {
    border-bottom: 1px solid black;
}

h1 {
    color: white;
    height: 60px;
}
.header-container {
    background-color: black;
    text-align: center;
}
.buttons-container{
    display: flex;
    position: relative
}
.next {
    margin-left: auto;
}
.previous {
    margin-right: auto;
}
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pageNumber {
    position: absolute;
    left: 50%
}
