.body-container {
    display: flex;
    flex-direction: column;  
    margin-top: 80px;
}

.card .card-name {
    border-bottom: 1px solid black;
}
.card-body {
    border: 1px solid black;

}
.card-img-top {
    border: 1px solid black;

}

h1 {
    text-align: right;
    color: white;
    height: 60px;
}
.header-container {
    background-color: black;
}
.title {
    display: flex;
    justify-content: center;
}
.buttons-container{
    display: flex;
    position:relative;
}
.next {
    margin-left: auto;
}
.previous {
    margin-right: auto;
}
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}
.position-loader {
    margin: 100px;
}
.pageNumber {
    position: absolute;
    left: 46%;
}